# Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Logs & OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Build / coverage
coverage/
dist/
.cache/

# Editor
.idea/
.vscode/
*.swp
